
/*para post_individual.htms*/
.hero-chaco {
    background-image: url('Turismo/static/imagenes/Post1.jpg');
    background-size: auto;      /* */
    background-position: center;  /* Centra la imagen */
    background-repeat: no-repeat; /* Evita que se repita */
}

/*para posts.html*/
.boton-post {
    display: inline-block;
    background-color: #0d9488; /* Verde Chaco */
    color: white !important;
    padding: 12px 24px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: 600;
    transition: all 0.3s ease;
    border: none;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.boton-post:hover {
    background-color: #0f766e;
    transform: translateY(-2px);
    box-shadow: 0 6px 12px rgba(0,0,0,0.15);
}

body {
    background-image: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), 
                      url('static/Post4.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed; /* La imagen se queda quieta al bajar */
    background-repeat: no-repeat;
    margin: 0;
}
