
# Archivos de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Archivos de entorno virtual
env/
venv/
*.env

# Archivos de configuración locales
*.log
*.pot
*.py[cod]
*$py.class

# Base de datos SQLite (solo en desarrollo)
db.sqlite3

# Migraciones (solo si querés ignorarlas en desarrollo)
*/migrations/*
!*/migrations/__init__.py

# Archivos de compilación
*.so
*.egg
*.egg-info/
dist/
build/

# Archivos de IDE
.vscode/
.idea/
*.swp

# Archivos de sistema
.DS_Store
Thumbs.db

# requierements
requierements.txt